html {
    font-size: 20px;
}

body {
    background: #fcfdff;
}

header {
    background: #5a67b9;
    color: #fff;
    height: 80px;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 0;
}

.precontent {
    padding: 1.5em 0;
}

.precontent-item {
    text-align: left;
    padding-left: 0.5em;
}

.precontent-item p:first-child {
    font-size: 0.75em;
    margin: 0.5em 0;
    color: #969696;
    text-transform: uppercase;
}

/** Highcharts Styles **/
.highcharts-container {
    border-radius: 4px;
}

.highcharts-input-group {
    display: none;
}

.highcharts-range-label {
    display: none;
}

.highcharts-plot-background {
	fill: #f3f6fc;
	stroke: #e0e3e8;
    stroke-width: 1px;
    border-radius: 4px;
}