html
  head
    - var title = title || 'Exchange Volumes'
    title= title
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 hello

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='js/app.js')

